<body>
    <div class="container">
        <div class="welcome-container">
            <div class="welcome-text">Bienvenidos a Unicomer</div>
        </div>
        <div class="login-container">
            <form>
                <div class="login-title">LOGO</div>
                <div class="login-form">
                    <app-input-form class="login-form-item" 
                        [title]="'Tipo de documento'"
                        [placeholder]="'DNI'"
                        #dnitype
                        ></app-input-form>
    
                    <app-input-form class="login-form-item" 
                        [title]="'Número de Documento'"
                        [placeholder]="'Ej: 24xxxxxx'" 
                        #dni
                        ></app-input-form>
    
                    <app-input-form class="login-form-item" 
                        [title]="'Clave'" 
                        [placeholder]="'Ingrese su contraseña'"
                        type="password"
                        #secret
                        ></app-input-form>
    
                    <button type="submit" (click)="login()">Ingresar</button>
                </div>
            </form>

        </div>
    </div>
</body>



<!--
<body>
    <div class="container">
        <div class="welcome-container">Bienvenidos a Unicomer</div>
        <div class="login-container">
          <div class="login">
              
              <app-input-form [title]="'Tipo de documento'" [placeholder]="'DNI'"></app-input-form>
              <app-input-form [title]="'Número de Documento'" [placeholder]="'Ej: 24xxxxxx'"></app-input-form>
              <app-input-form [title]="'Clave'" [placeholder]="'Ingrese su contraseña'" type="password"></app-input-form>
          </div>
        </div>
      </div>
</body>
-->